/**{  Do not use empty rulesets: /*Resetea Valores de etiquetas por defecto*/


/*esto es un comentario*/
/*Selectores:
etiqueta{
    propiedad: valor; Tamaño de una Fuente
    propiedad: valor; Ancho de un div
    propiedad: valor; Color del div

.clase{
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
}

#id{
    propiedad: valor;
    propiedad: valor;
    propiedad: valor;
}
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
}

/*@media screen and (min-width:992px) {
    flex-direction: row;
    
}*/
/*<!--Menú Superior-->*/
.header {
    .barraNavegacion1 {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 50px;
        padding-left: 50px;
        background-color: rgb(53, 58, 64);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .logCac {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        .logo {
            width: 100px;
        }
        .h2{
            color: #ffffff;
        }
    }

    .barraNavegacion2 {
        .enlacesNavegacion {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        .listasItems {
            padding-right: 20px;
        }

        .navItems {
            text-decoration: none;
        }

        .letrasBlancas {
            color: rgb(255, 255, 255);
            font-size: 1rem;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .letrasGrises {
            color: rgb(95, 94, 94);
            font-size: 1rem;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .letrasVerdes {
            color: rgb(80, 238, 101);
            font-size: 1rem;
            font-weight: 400;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }
}

/*<!--Cuerpo de la Pagina-->*/
.Conf {
    /*min-height: 600px;
    max-height: 2000px;*/
    height: 100vh;
    padding: 20px;
    background: linear-gradient(to right top, #00000048, #00000048, #00000048), url(../imagenes_integrador_front/ba1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.h1 {
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial;
    color: #ffffff;
    line-height: 1.2;
    padding-top: 120px;
}

.p1 {
    text-align: right;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: Arial;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50%;
}

.bordes {
    border: #ffffff;
    align-content: stretch;
    margin: auto;
}

.textBoton {
    text-decoration: none;
    text-align: center;
    border: #ffffff;
    align-content: stretch;
    margin: auto;
}

div.Pancarta {
    padding-top: 30px;
    text-align: right;
}

a.btnTransparent {
    border: 1px solid white;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    color: white;
}
a.btnTransparent:hover {
    border: 1px solid white;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(48, 250, 68)
}

a.btnGreen {
    border: 1px solid rgb(26, 105, 39);
    background-color: #24aa2f;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    color: white;
}
a.btnGreen:hover {
    border: 1px solid rgb(26, 105, 39);
    background-color: #024207;
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.contenedorOradores {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    width: 80%;
    margin-top: 0;
    margin: 1% auto;
    gap: 20px;
    line-height: 1.2;
    font-family: Arial;
}

#Oradores {
    padding: 20px;
    text-align: center;
}

#Oradores h2 {
    font-size: 2rem;
    margin-top: 0;

}

#Oradores div {
    font-size: 1rem;
}

.tarjetas {
    display: inline-block;
    width: 30%;
    height: 50%;
    padding: 0;
    border: 1px solid rgba(107, 106, 106, 0.637);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.tarjetas img {
    padding: 0;
    border-radius: 10px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.h3 {
    font-size: 2rem;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.p3 {
    font-size: 13px;
    font-weight: 100;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.form1 {
    font-size: 12px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
    line-height: 1.5;
    background-color: yellow;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-block;
}

.form2 {
    font-size: 12px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    line-height: 1.5;
    background-color: rgb(48, 144, 233);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-block;
}

.form3 {
    font-size: 12px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    line-height: 1.5;
    background-color: rgb(78, 78, 77);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-block;
}

.form4 {
    font-size: 12px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    line-height: 1.5;
    background-color: rgb(255, 5, 5);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-block;
}

/*<!--Seccion de BsAs Octubre-->*/
#HorayFecha {
    display: flex;
    color: white;
    padding: 20px;
    align-items: center;
}

.seccion3 {
    flex: 1;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    /* Añade una línea de borde gris */
}

.seccion3Imagen {
    flex: 1;
    padding: 0;
    /* Agrega un espacio entre la imagen y el borde */
    text-align: center;
    /* Centra la imagen horizontalmente */
}

.seccion3Imagen img {
    width: 100%;
    height: 100%;
}

.Seccion3Texto {
    flex: 1;
    background-color: rgba(53, 58, 54);
    /* Fondo oscuro con transparencia solo para el texto */
    padding: 20px;
    /* Espaciado interno para separar el texto del borde */
    text-align: left;
}

.h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: 700;
    font-family: Arial;
    color: #ffffff;
    line-height: 1.2;
    /* Color de texto blanco */
}

.p2 {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial;
    color: #ffffff;
    line-height: 1.2;
    margin-top: 5px;
    /* Color de texto blanco */
}

/*<!--Seccion de Formulario-->*/
.FormularioOrador {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .title {
        font-size: 20px;
    }
    .title p {
        font-size: 50px;
    }

    .subTitle {
        font-size: 1.5rem;
    }
}

.FormularioOrador input[type="text"] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.FormularioOrador textarea {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.FormularioOrador .MessageFormulario {
    margin-left: 25%;
    width: 50%;
    text-align: left;
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 1rem;
}

.FormularioOrador .BtnSubmit {
    border: 1px solid #24aa2f;
    font-size: 18px;
    padding: 15px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #24aa2f;
    width: 50%;
    margin-bottom: 15px;
}
.FormularioOrador .BtnSubmit:hover {
    border: 1px solid #24aa2f;
    font-size: 18px;
    padding: 15px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #026b0b;
    width: 50%;
    margin-bottom: 15px;
}


/*<!--Pie de la Pagina-->*/
.footer {
    background: linear-gradient(to right, #1c3643, #1c3d4e, #1d445a, #1d4c66, #1e5372);
    /* tu gradiente aquí */
    padding: 20px;
    /* Espacio interior para separar el contenido del borde */
    text-align: center;
    /* Alinea el texto en el centro del footer */
}

.listasPie {
    list-style-type: none;
    /* Elimina los puntos de lista */
    padding: 0;
}

.listasPie li {
    display: inline;
    /* Muestra los elementos de la lista en línea */
    margin-right: 15px;
    /* Espacio entre los elementos de la lista */
}

.letrasPie {
    color: white;
    /* Texto en color blanco */
    text-decoration: none;
    /* Elimina subrayado de los enlaces */
    font-size: 14px;
    /* Tamaño de fuente deseado */
}


/* Pagina de Tickets */
.contenedorVentas {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    width: 80%;
    margin-top: 0;
    margin: 1% auto;
    gap: 20px;
    line-height: 1.2;
}
#ventas {
    padding: 20px;
    text-align: center;
}
#ventas .card1 {
    border: 1px solid rgb(4, 84, 121);
    background-color: rgba(255, 255, 255)
}

#ventas .card1:hover {
    border: 1px solid rgb(4, 84, 121);
    background-color: rgb(137, 212, 247)
}
#ventas .card2 {
    border: 1px solid rgb(24, 105, 3);
    background-color: rgba(255, 255, 255)
}

#ventas .card2:hover {
    border: 1px solid rgb(24, 105, 3);
    background-color: rgb(92, 245, 53)
}
#ventas .card3 {
    border: 1px solid rgb(247, 173, 13);
    background-color: rgba(255, 255, 255)
}

#ventas .card3:hover {
    border: 1px solid rgb(247, 173, 13);
    background-color: rgb(216, 253, 3)
}

.card-body {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin-top: 0;
    margin: 1% auto;
    gap: 20px;
    line-height: 1; 
}

/*<!--Seccion de Formulario-->*/
.formularioVenta {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .title {
        font-size: 20px;
    }
    .title p {
        font-size: 50px;
    }

    .subTitle {
        font-size: 1.5rem;
    }
}

.formularioVenta input[type="text"] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.formularioVenta input[type="email"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.formularioVenta input[type="email"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.formularioVenta input[type="number"] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.formularioVenta select[type="option"] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.formularioVenta .BtnSubmit {
    border: 1px solid #24aa2f;
    font-size: 18px;
    padding: 15px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #24aa2f;
    width: 40%;
    margin-bottom: 15px;
}
.formularioVenta .BtnSubmit:hover {
    border: 1px solid #24aa2f;
    font-size: 18px;
    padding: 15px;
    border-radius: 6px;
    color: #ffffff;
    background-color: #026b0b;
    width: 40%;
    margin-bottom: 15px;
}